.btn {
  display: flex;
  align-items: center;
  gap: 12px;
  @include Montserrat_16_400;
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
}

.icon {
  background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  min-width: 18px;
  min-height: 18px;
  display: inline-flex;
  width: 18px;
  height: 18px;
  max-width: 18px;
  max-height: 18px;
}