.btn {
  display: flex;
  align-items: center;
  gap: 6px;
  @include Montserrat_16_400;
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;

  @include respond(mobileL) {
    display: none;
  }
}
