.root {
  border-radius: 16px;
  border: 2.5px solid var(--gray);
  background: linear-gradient(
    203.41deg,
    rgba(28, 28, 28, 0.5) 17.49%,
    rgba(130, 130, 130, 0.25) 100%
  );
  @include transition;
  color: var(--gray);
  height: 580px;
  min-height: 580px;

  &.active {
    border: 2.5px solid #02539a;
    background: linear-gradient(
      202.7deg,
      rgba(2, 83, 154, 0.5) 16.83%,
      rgba(1, 34, 52, 0.25) 69.42%
    );
    color: var(--white);
    height: 658px;
    min-height: 658px;
  }
}

.wrapper {
  padding: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond(tabletL) {
    padding: 24px;
  }

  @include respond(mobileL) {
    padding: 16px;
  }
}

.title {
  @include Montserrat_24_700;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--gray);
  margin-bottom: 20px;

  &.active {
    border-bottom: 2px solid #02539a;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.payMethodsText {
  @include Montserrat_18_400;
  margin-bottom: 20px;

  &.active {
    font-size: 24px;
  }
}

.iconsWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 2.5px solid var(--gray);
  margin-bottom: 20px;

  &.active {
    border-bottom: 2.5px solid #02539a;
  }
}

.btnWrapper {
  display: flex;
  justify-content: center;
}

.btn {
  @include Montserrat_32_700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  color: var(--gray);
  @include transition;
  cursor: pointer;
  font-size: 24px;

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 1;
    user-select: none;
    cursor: not-allowed;
    pointer-events: none;
  }

  &.active {
    color: #02539a;
    font-size: 32px;
  }
}

.sliderWrapper {
  .label {
    @include Montserrat_16_400;
    margin-bottom: 6px;
  }

  .sliderDescription {
    @include Montserrat_16_400;
    font-size: 12px;
  }
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  .dropdownText {
    @include Montserrat_16_400;
    font-weight: 600;
    font-size: 12px;
  }

  .arrow {
    svg {
      transform: rotate(-180deg);
      @include transition;
    }

    &.open {
      svg {
        transform: rotate(0deg);
      }
    }
  }
}

.ddList {
  margin: 16px 0px;
  background: #11385b;
  border-radius: 8px;
  overflow: hidden;
}

.option {
  background: #11385b;
  @include transition;
  padding: 6px 16px;
  cursor: pointer;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.selected {
    background: #3f8efd;
  }

  &:hover {
    opacity: 0.8;
  }
}
