.root {
  margin-bottom: 192px;

  @include respond(tablet) {
    margin-bottom: 80px;
  }

  @include respond(mobileL) {
    margin-bottom: 48px;
  }

  h2 {
    @include Montserrat_48_700;
    font-size: 32px;
    color: var(--gray);
    margin-bottom: 64px;

    @include respond(tablet) {
      margin-bottom: 36px;
    }

    @include respond(mobileL) {
      font-size: 22px;
      margin-bottom: 24px;
    }
  }
}
