.root {
  margin-bottom: 192px;

  @include respond(tablet) {
    margin-bottom: 80px;
  }

  @include respond(mobileL) {
    margin-bottom: 48px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(4, 208px);
  grid-template-areas:
    'profile info'
    'list info'
    'list info'
    'list info';
  gap: 12px 24px;

  @include respond(tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    grid-template-areas:
      'profile'
      'list'
      'info';
    gap: 32px;
  }

  @include respond(mobileL) {
    padding: 24px 0px;
  }
}

.profile {
  grid-area: profile;
  padding: 22px 20px;
}

.list {
  grid-area: list;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  grid-area: info;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
  background: linear-gradient(
    230.25deg,
    rgba(28, 28, 28, 0.5) 17.1%,
    rgba(130, 130, 130, 0.25) 100%
  );
  border: 3px solid #8d8d8d;
  border-radius: 16px;
}

.profileWrapper {
  display: flex;
  gap: 12px;

  .avatar {
    min-width: 162px;
    min-height: 162px;
    width: 162px;
    height: 162px;
    border-radius: 10px;
    background: linear-gradient(135deg, #665dcd 0%, #5fa4e6 44.76%, #d2ab67 100%);
  }

  .profileName {
    @include Montserrat_24_500;
    font-size: 26px;
    color: var(--white);
    margin-bottom: 12px;
  }

  .profileId {
    @include Montserrat_24_500;
    font-size: 20px;
    color: var(--gray);
    margin-bottom: 12px;

    span {
      color: var(--white);
    }
  }

  .profileEmail {
    @include Montserrat_24_500;
    font-size: 20px;
    color: var(--gray);
    margin-bottom: 20px;

    span {
      color: var(--white);
    }
  }

  .profileBtn {
    border: 2.5px solid #02539a;
    background: linear-gradient(
      202.7deg,
      rgba(2, 83, 154, 0.5) 16.83%,
      rgba(1, 34, 52, 0.25) 69.42%
    );
    color: var(--gray);
    text-transform: uppercase;
    padding: 6px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    @include Montserrat_24_700;
    font-size: 14px;
    @include transition;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      border: 2.5px solid #02539a;
      background: linear-gradient(
        202.7deg,
        rgba(2, 83, 154, 0.5) 16.83%,
        rgba(1, 34, 52, 0.25) 69.42%
      );
    }
  }
}

.infoTitle {
  @include Montserrat_32_700;
  font-weight: 500;
  padding-bottom: 16px;
  border-bottom: 2.5px solid #02539a;
  margin-bottom: 16px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-bottom: 38px;

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;

    .date {
      @include Montserrat_48_700;
      color: var(--gray);
    }

    .text {
      @include Montserrat_18_400;
      font-weight: 500;
      color: var(--gray);
    }
  }

  .separator {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.infoDescription {
  @include Montserrat_24_500;
  color: var(--gray);
}

.infoPrice {
  @include Montserrat_32_700;
  font-weight: 600;
  color: var(--gray);
}

.listTitle {
  padding: 40px 40px 24px;
  text-align: center;
  text-transform: uppercase;
  @include Montserrat_32_700;
  font-weight: 500;
  color: var(--white);
}

.listBtn {
  display: flex;
  justify-content: center;
}

.btnPromo {
  border: 2.5px solid #02539a;
  background: linear-gradient(202.7deg, rgba(2, 83, 154, 0.5) 16.83%, rgba(1, 34, 52, 0.25) 69.42%);
  color: var(--gray);
  text-transform: uppercase;
  padding: 12px 38px;
  border-radius: 10px;
  cursor: pointer;
  @include Montserrat_24_700;
  font-size: 14px;
  @include transition;
  margin-bottom: 24px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    border: 2.5px solid #02539a;
    background: linear-gradient(
      202.7deg,
      rgba(2, 83, 154, 0.5) 16.83%,
      rgba(1, 34, 52, 0.25) 69.42%
    );
  }
}

.listItem {
  border: 2.5px solid transparent;
  padding: 6px 40px;
  width: 100%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  @include transition;
  cursor: pointer;
  margin-bottom: 16px;

  &.active {
    border: 2.5px solid #02539a;
    background: linear-gradient(
      202.7deg,
      rgba(2, 83, 154, 0.5) 16.83%,
      rgba(1, 34, 52, 0.25) 69.42%
    );
  }

  &:active {
    border: 2.5px solid #02539a;
    background: linear-gradient(
      202.7deg,
      rgba(2, 83, 154, 0.5) 16.83%,
      rgba(1, 34, 52, 0.25) 69.42%
    );
  }
}

.listItemContent {
  display: flex;
  flex-direction: column;
  align-items: start;

  .listItemName {
    @include Montserrat_24_700;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
  }

  .listItemStatus {
    @include Montserrat_24_700;
    font-size: var(--white);
  }
}
