.logo {
  display: flex;
  align-items: center;
}

.img {
  @include respond(tabletL) {
    width: 64px;
    height: 64px;
  }

  @include respond(mobileL) {
    width: 64px;
    height: 64px;
  }
}

.imgText {
  @include respond(tabletL) {
    width: 200px;
    height: 32px;
  }

  @include respond(mobileL) {
    width: 160px;
    height: 32px;
  }
}
