.questionList_item {
  padding: 46px 40px;
  cursor: pointer;
  border: 3px solid var(--gray);
  border-radius: 16px;

  @include respond(tablet) {
    padding: 24px 32px;
  }

  @include respond(mobileL) {
    padding: 28px;
  }

  &:not(:last-child) {
    margin-bottom: 48px;

    @include respond(tablet) {
      margin-bottom: 32px;
    }

    @include respond(mobileL) {
      margin-bottom: 16px;
    }
  }

  .questionLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    @include transition;

    .label_question {
      display: inline-block;
      @include Montserrat_32_700;
      color: var(--gray);

      @include respond(tablet) {
        font-size: 20px;
      }

      @include respond(mobileL) {
        font-size: 18px;
      }
    }

    .arrow {
      svg {
        @include transition;
      }

      &.active {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .answerLabel {
    display: inline-block;
    color: var(--gray);
    padding-top: 12px;
    padding-right: 50px;
    @include Montserrat_32_700;

    @include respond(tablet) {
      font-size: 20px;
    }

    @include respond(mobileL) {
      font-size: 18px;
    }
  }
}
