.root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  margin-top: 36px;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  @include transition;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    transform: scale(0.9);
  }

  &.prev {
    &:active {
      transform: scale(0.9);
    }
  }

  &.next {
    transform: rotate(120deg);

    &:active {
      transform: rotate(120deg) scale(0.9);
    }
  }
}
