@import './consts.scss';
@import './globals.scss';

.container {
  position: relative;
  max-width: 1305px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;

  @include respond(tabletL) {
    padding: 0 40px;
  }

  @include respond(tabletS) {
    padding: 0 32px;
  }

  @include respond(tabletContainer) {
    padding: 0 22px;
  }

  @include respond(mobile) {
    padding: 0 16px;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-100vh); // Начинает выше экрана
  }
  100% {
    transform: translateY(0); // Заканчивает на своём месте
  }
}
