.wrapper {
  padding: 64px 0px 36px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  @include respond(tablet) {
    padding: 32px 0px;
  }

  @include respond(mobileL) {
    padding: 24px 0px;
  }
}
